Repository ITA-Dnipro/Java-Home-Project-CQRS-Javelin, pull requests merged in 2022-05, with the labels that each got.

#6 Add branches versioning convention readme
  docs/stages-of-development-and-versioning.md
Labels: Setting

#8 Feature/issue#7 add root pom.xml and refactor pull requst templates
  .github/PULL_REQUEST_TEMPLATE/develop.md
  .github/PULL_REQUEST_TEMPLATE/master.md
  pom.xml
Labels: Setting

#11 Define basic dependencies and plugins for project
  pom.xml
Labels: Setting

#15 Feature/issue#3 create kafka skeleton
  docker-compose.yml
Labels: Kafka, Setting

#16 Feature/issue#3 create kafka skeleton
  docker-compose.yml
Labels: Kafka, Setting

#18 Feature/issue#1 create gateway skeleton
  gateway-spring-cloud/README.md
  gateway-spring-cloud/docker-compose.yaml
  gateway-spring-cloud/pom.xml
  gateway-spring-cloud/src/main/java/com/softserveinc/ita/homeproject/gatewayspringcloud/GatewaySpringCloudApplication.java
  gateway-spring-cloud/src/main/resources/application.yaml
  pom.xml
Labels: Gateway

#17 Issue#13 Open api parent module skeleton
  open-api/pom.xml
  open-api/src/main/java/.keep
  open-api/src/main/resources/yaml/models/common.yaml
  open-api/src/main/resources/yaml/models/news.yaml
  open-api/src/main/resources/yaml/openapi.yaml
  open-api/src/main/resources/yaml/parameters/parameters.yaml
  open-api/src/main/resources/yaml/paths/news.yaml
  open-api/src/main/resources/yaml/requests/requestBodies.yaml
  open-api/src/main/resources/yaml/responses/responses.yaml
  open-api/src/test/java/.keep
  pom.xml
Labels: OpenApi

#19 Feature/issue#2 create reader skeleton
  .github/workflows/build.yml
  .gitignore
  open-api/src/main/resources/yaml/models/news.yaml
  pom.xml
  reader/README.md
  reader/docker-compose.yml
  reader/pom.xml
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/ReaderApplication.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/api/NewsApiImpl.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/data/dto/BaseDto.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/data/dto/general/news/NewsDto.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/data/entity/BaseEntity.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/data/entity/general/news/News.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/data/entity/general/news/NewsRepository.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/mapper/HomeMapper.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/mapper/ServiceMapper.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/mapper/config/AbstractTypeConverter.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/mapper/config/HomeMappingConfig.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/mapper/config/ServiceMappingConfig.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/mapper/config/TypeMatcher.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/dto/BaseDto.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/dto/general/news/NewsDto.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/exception/BadRequestHomeException.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/exception/BaseHomeException.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/exception/NotFoundHomeException.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/general/news/NewsService.java
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/service/general/news/NewsServiceImpl.java
  reader/src/main/resources/application.properties
Labels: Reader

#25 Feature/issue#4 create writer skeleton
  docker-compose.yml
  gateway-spring-cloud/pom.xml
  pom.xml
  writer-data-migration/pom.xml
  writer-data-migration/src/main/java/com/softserveinc/ita/homeproject/writerdatamigration/migrations/LiquibaseRunner.java
  writer-data-migration/src/main/java/com/softserveinc/ita/homeproject/writerdatamigration/migrations/LiquibaseUpdate.java
  writer-data-migration/src/main/resources/checkstyle-configuration.xml
  writer-data-migration/src/main/resources/db/changelog/0.0.1/News001.xml
  writer-data-migration/src/main/resources/db/changelog/0.0.1/_cumulative.xml
  writer-data-migration/src/main/resources/db/changelog/master.xml
  writer/pom.xml
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/WriterApplication.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/api/NewsApiImpl.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/exception/BadRequestHomeException.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/exception/BaseHomeException.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/exception/NotFoundHomeException.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/mapper/model/HomeMapper.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/mapper/model/config/HomeMappingConfig.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/mapper/service/ServiceMapper.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/mapper/service/config/AbstractTypeConverter.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/mapper/service/config/ServiceMappingConfig.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/mapper/service/config/TypeMatcher.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/model/dto/BaseDto.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/model/dto/general/news/NewsDto.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/model/entity/BaseEntity.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/model/entity/general/news/News.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/repository/general/news/NewsRepository.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/QueryableService.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/general/news/NewsService.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/general/news/NewsServiceImpl.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/security/EntitySpecificationService.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/security/EntitySpecificationServiceImpl.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/security/QueryApiService.java
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/security/QueryApiServiceImpl.java
  writer/src/main/resources/application.properties
Labels: Writer

#31 Feature/issue#21 Change yaml configuration with java annotations in gateway
  docker-compose.yml
  gateway-spring-cloud/docker-compose.yaml
  gateway-spring-cloud/src/main/java/com/softserveinc/ita/homeproject/gatewayspringcloud/GatewaySpringCloudApplication.java
  gateway-spring-cloud/src/main/java/com/softserveinc/ita/homeproject/gatewayspringcloud/config/GatewayConfiguration.java
  gateway-spring-cloud/src/main/resources/application.properties
  gateway-spring-cloud/src/main/resources/application.yaml
  reader/src/main/java/com/softserveinc/ita/homeproject/reader/api/NewsApiImpl.java
Labels: Gateway

#34 Feature/issue#26 create unit tests for writer
  pom.xml
  writer/pom.xml
  writer/src/main/java/com/softserveinc/ita/homeproject/writer/service/general/news/NewsServiceImpl.java
  writer/src/test/java/com/softserveinc/ita/homeproject/writer/Util.java
  writer/src/test/java/com/softserveinc/ita/homeproject/writer/api/NewsApiImplTest.java
  writer/src/test/java/com/softserveinc/ita/homeproject/writer/service/general/news/NewsServiceImplTest.java
Labels: Writer
